.menu {
  background-color: rgb(127, 196, 250);
}
.mermaids {
  background-color:rgb(112, 215, 243)
}
.cons {
  background-color:rgb(100, 181, 206)
}
.reasons {
  background-color:rgb(80, 227, 207)
}
.tutorial {
  background-color:rgb(169, 217, 249)
}
